.layout-news {
  // layout
  overflow: hidden;
  // color
  background-color: var(--p-primary-color);
  &__content,
  &__close {
    color: var(--p-primary-contrast-color);
  }
  &__close {
    &:hover {
      background-color: var(--p-primary-200);
    }
  }
  &--error {
    background-color: var(--p-invalid-color);
    .layout-news__close {
      &:hover {
        background-color: var(--p-invalid-hover-color);
      }
    }
  }
}
